@theme {
  --font-sans: "MacPaw Fixel", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: Angst, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-second: #9e9e9e;
  --color-link: #ababab;
  --color-brand: #1c173e;
  --color-slight: #faf7f2;
  --color-white2: #f7f7f7;
  --color-grayish: #bdbdbd;
}

:root {
  --header-height: 78px; /*Sometimes use in components... */
}
